body {
  padding-top: 50px;
}

.container-fluid{
  padding-left: 10px !important;

}
#page-content-wrapper{
  padding: 10px !important;
  top: 1px;
}

.logger-area{
  background-color: black;
  color: #fff;
  font-size: 0.7em;
  width: 100%;
  height: 500px;
  resize: vertical;
  overflow: auto;
  border: 1px dotted black;
  padding-bottom: 30px;
}

[data-ember-action] {
  cursor: pointer;
}
