body {
  padding-top: 50px;
}


.container-fluid{
  padding-left: 10px !important;

}
#page-content-wrapper{
  padding: 10px !important;
  top: 1px;
}

// .center {
//   padding: 15px;
//   text-align: center;
// }

// .form-signin {
//   max-width: 330px;
//   padding: 15px;
//   margin: 0 auto;
// }

// .navbar-inline li {
//   float: left !important;
// }
