  <form {{action 'save' on="submit"}}>
    {{ partial 'users/_form'}}
    <div class="form-group col-sm-12 row">
      <hr/>
      <button type="submit" class="btn-s btn btn-primary">Submit</button>
      <button type="submit" class="btn btn-s btn-danger">Delete</button>
    </div>
</form>
