Strings count: {{count}}<br/>

<div class='logger-area'>
{{#each message in messages}}
  {{message}} <br/>
{{/each}}
</div>

<!-- <button id="sendButtonPressed" {{action "sendButtonPressed"}}>Press Me</button> -->
