Welcome Chat!<br>{{appName}}<br>


Received Message: <h3>{{count}}</h3><br>


{{#each message in messages}}
  {{message}} <br/>
{{/each}}

<button id="sendButtonPressed" {{action "sendButtonPressed"}}>Press Me</button>
