{{ partial 'partials/top-navbar'}}

<div id='wrapper' {{bind-attr class="isToggledLeftSidebar:toggled"}}>

 {{ partial 'partials/left-sidebar'}}

  <div id="page-content-wrapper" style='border: 1px solid red;'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>

